@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #1f1c1c;
    color: #abab3a;
    font-family: "Kalam", cursive;
}
nav{
    display: flex;
}
nav ul{
    height: 88px;
    display: flex;
    justify-content: centera;
    align-items: center;
    

}
nav ul li{
    list-style: none;
    padding: 30px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 170px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(237, 237, 95);
}
nav ul li a:hover {
    font-weight: bold;
    /* color: rgb(206, 250, 10); */
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 457px;
    height: 26px;
    border-radius: 3px;

}

.container{
    min-height: calc(100vh - 88px - 12vh);
}

footer{
    height: 12vh;
    background-color: #1f1c1c;
    color: rgb(237, 237, 95);
    font-family: "Kalam", cursive;
}